<body class="bg-gray-100 max-height: 1200px">
    <div class="container mx-auto p-8">
        <div class="bg-white shadow-lg rounded-lg p-8">
            
            <h2 class="text-2xl font-bold mb-4">Name</h2>

            <div class="flex flex-col md:flex-row">

                <div class="w-full md:w-2/4 mr-4">
                    <div class="bg-gray-200 p-4 mb-4">
                        <!-- Order items -->
                        <div class="flex justify-between mb-2">
                            <div class="font-bold w-4/6">Item</div>
                            <div class="font-bold">Price</div>
                            <div class="font-bold"></div>
                        </div>
                        <div *ngFor="let items of Items let i = index;" 
                            class="flex justify-between mb-2">
                            <div class="w-4/6">{{ items.name }}</div>
                            <div class="ml-5">${{ items.price }}</div>
                            <button class="square-button bg-red-500 rounded-md
                                flex items-center justify-center w-5 h-5">X</button>  
                        </div>
                    </div>

                    <div class="bg-gray-200 p-4">
                        <!-- Total and payment section -->
                        <div class="flex justify-between mb-2">
                            <div class="font-bold">Subtotal:</div>
                            <div>${{this.SubTotal.toFixed(2)}}</div>
                        </div>
                        <div class="flex justify-between mb-2" >
                            <div class="font-bold">Tax:</div>
                            <div>${{this.TaxAmount.toFixed(2)}}</div>
                        </div>
                        <div class="flex justify-between mb-4">
                            <div class="font-bold">Total:</div>
                            <div>${{this.Total.toFixed(2)}}</div>
                        </div>

                        <h1>------------------------------------------------------</h1>
                        <button class="mt-4 px-4 py-4 mx-2 bg-blue-500
                                text-white font-bold rounded hover:bg-blue-600">
                            Process Payment
                            </button>

                        <button class="mt-4 px-4 py-4 mx-2 bg-blue-500
                                text-white font-bold rounded hover:bg-blue-600"
                                (click)="saveButton()">
                            Save</button>
                        <button class="mt-4 px-4 py-4 mx-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600">
                            Print</button>
                    </div>
                </div>

                <div class="flex flex-col items-center md:w-1/6">
                    <button [class.bg-gray-200]="!drinks" [class.text-gray-700]="!drinks"
                            [class.bg-blue-500]="drinks" [class.text-white]="drinks"
                            [class.hover:bg-gray-300]="!drinks"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="drinksToggle()">Drinks</button>
                            
                    <button [class.bg-gray-200]="!burgers" [class.text-gray-700]="!burgers"
                            [class.bg-blue-500]="burgers" [class.text-white]="burgers"
                            [class.hover:bg-gray-300]="!burgers"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="burgersToggle()">Burgers</button>
            
                    <button [class.bg-gray-200]="!sides" [class.text-gray-700]="!sides"
                            [class.bg-blue-500]="sides" [class.text-white]="sides"
                            [class.hover:bg-gray-300]="!sides"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="sidesToggle()">Sides</button>
                    
                    <button [class.bg-gray-200]="!salads" [class.text-gray-700]="!salads"
                            [class.bg-blue-500]="salads" [class.text-white]="salads"
                            [class.hover:bg-gray-300]="!salads"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="saladsToggle()">Salads</button>

                    <button [class.bg-gray-200]="!desserts" [class.text-gray-700]="!desserts"
                            [class.bg-blue-500]="desserts" [class.text-white]="desserts"
                            [class.hover:bg-gray-300]="!desserts"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="dessertsToggle()">Desserts</button>

                    <button [class.bg-gray-200]="!kids" [class.text-gray-700]="!kids"
                            [class.bg-blue-500]="kids" [class.text-white]="kids"
                            [class.hover:bg-gray-300]="!kids"
                            class="font-bold py-4 px-4 rounded-md mb-2 w-40 h-20"
                            (click)="kidsToggle()">Kids</button>
                  </div>
                  
                <div class="w-full md:w-2/3 ml-4">
                    <div *ngIf="drinks" name= drinks class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Coke', 2.99)">Coke</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Fanta', 2.99)">Fanta</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Juice', 2.49)">Juice</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Milk', 1.49)">Milk</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Coffee', 1.69)">Coffee</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Water', 0.49)">Water</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Lemonade', 0.99)">Lemonade</button>
                    </div>

                    <div *ngIf="burgers" name= burgers class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Chicken Burger', 5.39)">Chicken Burger</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Bacon Burger', 4.39)">Bacon Burger</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Fish Burger', 6.49)">Fish Burger</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Spicy Chicken Burger', 6.39)">Spicy Chicken Burger</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                    py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Cheeseburger', 3.99)">Cheeseburger</button>
                        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                    (click)="addItem('Burgernator', 9.99)">Burgernator</button>
                    </div>

                    <div *ngIf="sides" name= sides class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('French Fries', 1.49)">French Fries</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Curly Fries', 1.99)">Curly Fries</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Apple Slices', 1.59)">Apple Slices</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Onion Rings', 2.49)">Onion Rings</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Mozzarella Sticks', 1.79)">Mozzarella Sticks</button>
                    </div>

                    <div *ngIf="salads" name= salads class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Leafy Green Salad', 4.74)">Leafy Green Salad</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Greek Salad', 5.74)">Greek Salad</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chicken Salad', 7.39)">Chicken Salad</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Fruit Salad', 5.74)">Fruit Salad</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Caesar Salad', 4.74)">Caesar Salad</button>
                    </div>

                    <div *ngIf="desserts" name= desserts class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Vanilla Ice Cream Cone', 0.99)">Vanilla Ice Cream Cone</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chocolate Ice Cream Cone', 0.99)">Chocolate Ice Cream Cone</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold 
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Cheesecake', 5.99)">Cheesecake</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Apple Pie', 3.99)">Apple Pie</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chocolate Chip Cookies', 2.99)">Chocolate Chip Cookies</button>
                        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Lemon Pudding Cake', 5.79)">Lemon Pudding Cake</button>
                        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chocolate Truffle Cake', 5.99)">Chocolate Truffle Cake</button>
                    </div>

                    <div *ngIf="kids" name= kids class="bg-gray-200 p-4 grid grid-cols-3 gap-6">
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chicken Nuggets', 2.99)">Chicken Nuggets</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Chicken Strips', 2.99)">Chicken Strips</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Mac & Cheese', 2.49)">Mac & Cheese</button>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold
                                        py-4 px-4 rounded-md mb-2 w-30 h-20"
                                        (click)="addItem('Cheeseburger Cup', 2.79)">Cheeseburger Cup</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</body>