<!-- component -->
<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-2 print-invisible">
    <!-- logo -->
    <h1 class="w-3/12">
        <!--
        <a href="">
            <img src="assets/Angular-Logo.png" alt="Angular Logo" class="w-12 h-auto rounded-lg">
        </a>
        -->
    </h1>
    <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
            <p class="text-2xl">Restaurant Point Of Sale</p>
        </ul>
    </nav>
    <!-- navigation 
    <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
            <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 
                        hover:text-green-500 duration-200 cursor-pointer active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
        </ul>
    </nav>
    -->
</header>